@page "/testPublic"
@attribute [AllowAnonymous]
@using Microsoft.AspNetCore.Authorization
@model Chirp.WebService.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    
    <partial name="Shared/_AddCheepForm"/>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li style="display: flex">
                    <img src="@cheep.AuthorAvatarUrl" alt="@cheep.AuthorName" style="height: 64px; aspect-ratio: 1/1" />
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorUsername">@cheep.AuthorName</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                         @{ 
                             var cheepLikes = Model.GetLikeCount(cheep.CheepId);
                         }
                        <p class="likes"><i>@cheepLikes.ToString() Likes.</i></p>
                        <partial name="Shared/_DeleteCheepForm" model=@cheep/>
                        @{
                            if (Model.Follows.Any(s => s == cheep.AuthorUsername))
                            {
                                //Follows already -> unfollow
                                <partial name="Shared/_UnfollowAuthorForm" model="@cheep"/>
                            }
                            else
                            {
                                <partial name="Shared/_FollowAuthorForm" model="@cheep"/>
                            }
                            if (Model.CheepIsLiked(cheep.CheepId))
                            {
                                <partial name="Shared/_UnlikeCheepForm" model="@cheep"/>
                            }
                            else
                            {
                                <partial name="Shared/_LikeCheepForm" model="@cheep"/>
                            }
                        }
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <!--Pagination-->
    <div>
        @for (int i = 1; i <= Model.AmountOfPages; i++)
        {
            <a href="/?page=@i">@i</a>
        }
    </div>
</div>