@page "/{author}"
@using Microsoft.AspNetCore.Authorization
@model Chirp.WebService.Pages.UserTimelineModel
@attribute [AllowAnonymous]

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>
    @* <form method="post" class="addCheepForm"> *@
    @*     <label>New Cheep</label> *@
    @*     <input type="text" name="CheepText" placeholder="Write New Cheep" /> *@
    @*     <input type="submit" value="SUBMIT"/> *@
    @* </form> *@
    
    <partial name="Shared/_AddCheepForm"/>
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                        <partial name="Shared/_DeleteCheepForm" model=@cheep/>
                        @{
                            if (Model.Follows.Any(s => s == @cheep.AuthorEmail))
                            {
                                //Follows already -> unfollow
                                <partial name="Shared/_UnfollowAuthorForm" model="@cheep"/>
                            }
                            else
                            {
                                <partial name="Shared/_FollowAuthorForm" model="@cheep"/>
                            }
                            <partial name="Shared/_LikeCheepForm" model="@cheep"/>
                        }
                    </p>
                       
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <!--Pagination-->
        <div>
            @for (int i = 1; i <= Model.AmountOfPages; i++)
            {
                <a href="@routeName?page=@i">@i</a>
            }
        </div>
</div>